<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiquidationDashboard</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body class="text-neutral-900 dark:bg-neutral-900 dark:text-white min-h-screen">
    <div class="container flex flex-col min-h-screen mx-auto">
        <header class="flex items-center m-5">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center text-xl mr-auto">
                <svg role="img" class="h-7 w-7 text-rose-400 mr-1">
                    <use xlink:href="/img/sprite.svg#logo"></use>
                </svg>
                <span>knowhen</span>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="text-neutral-700 dark:text-neutral-400 text-sm mr-3">Dashboard</a>
                <a asp-area="" asp-controller="Home" asp-action="Logout" class="text-neutral-700 dark:text-neutral-400 text-sm mr-3">Logout</a>
            }
            <button class="p-1" id="dark-mode-btn">
                <svg role="img" class="h-5 w-5 text-neutral-600">
                    <use xlink:href="/img/sprite.svg#icon-moon" class="moon"></use>
                    <use xlink:href="/img/sprite.svg#icon-sun" class="sun hidden"></use>
                </svg>
            </button>
        </header>

        <section class="flex-grow mx-5">
            @RenderBody()
        </section>

        <footer class="flex items-center justify-center text-xs py-5 mx-5 mt-auto">
            <svg role="img" class="h-4 w-4 shrink-0 text-rose-500 mr-2">
                <use xlink:href="/img/sprite.svg#icon-code"></use>
            </svg>
            <span class="text-neutral-400 mr-1">Designed & developed by </span>
            <a href="https://github.com/almoloo" class="text-rose-500" target="_blank">almoloo</a>
            <span class="text-neutral-400 mx-1"> & </span>
            <a href="https://github.com/Hossein-79" class="text-rose-500" target="_blank">Hossein</a>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
